body{
    box-sizing: border-box;
    margin: 15px;
    font-family: Montserrat;
}

.container{
    max-width: 100%;
    margin: 0 auto;
}

.header{
    background-image: url("bg.jpeg");
    background-position: center center;
    background-repeat: repeat;
    height: 50px;
}

.main{
    display: flex;
    background-color: azure;
}

.leftColumn{
    padding: 10px;
    width: 250px;

}

li{
    list-style: none;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    transition: .2s;
    color: green;
    font-weight: 500;
}

a:hover{
    text-decoration: underline;
}

.centerColumn{
    width: auto;
    padding: 10px;
}

p{
    text-indent: 20px;
}

.link{
    text-align: right;
    font-style: italic;
}

.rightColumn{
    padding: 10px;
    width: 250px;
}

.footer{
    text-align: center;
    font-style: italic;
}

